:root {
  --brand-orange: #FA2700;
  --brand-red: #B81D00;
  --brand-dark-gray: #6B534F;
  --brand-brown: #594542;
  --brand-sand: #D9D197;
  --brand-cream: #FFF6B2;
}

html, body {
  background-color: #FFFFFF; 
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  color: #333333;
}